*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    min-width: 0;
}

body{
    background-color: #ffffff;
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/*Estilo para el header*/
header{
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
/*Estilo para el h1 del header*/
header h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 0;
}

header nav li{
    display: inline;
    margin-right: 20px;
}

nav li{
    display: block;
    margin: 5px 0;
}
/*Estilo para los enlaces del header*/
header nav a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

/*Estilo para los enlaces del header al pasar el raton por encima*/
header nav a:hover{
    text-decoration: underline;
}

.box{
    margin-top: 120px;
}

/*Estilo para los container*/
.container{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: space-between;
    margin: 24px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.container img{
    width: 100%;
}

.container button{
    margin-top: 16px;
    padding: 16px 0px;
}

.search-container{
    display: grid;
    grid-template-columns: 9fr 2fr;
    gap: 1px;
    width: 100%;
    max-width: 400px;
    margin: 15px auto;
    padding: 15px;
}

.search-container input{
    padding: 16px;
    margin-right: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: 100;
}
/*Estilo para el loader*/
.loader{
    display: none;
    height: 240px;
    width: 240px;
    border: 48px solid #e6e7ec;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-top-color: #fc1313;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    animation: spin 1s infinite;
    -webkit-animation: spin 1s infinite;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
/*Estilo el boton*/
button{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #fc1313;
    color: #ffffff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: 500;
}

/*responsive del nav*/
@media (max-widht: 288px){
    h1{
        text-align: center;
        font-size: 5vh;
    }
}

@media (max-widht: 288px){
    nav ul{
        text-align: center;
        font-size: small;
    }
    nav ul{
        text-align: center;
        font-size: x-small;
    }
}

/*animacion de cargado*/

@keyframes spin {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        -moz-transform: translate(-50%, -50%) rotate(360deg);
        -ms-transform: translate(-50%, -50%) rotate(360deg);
        -o-transform: translate(-50%, -50%) rotate(360deg);
}
}


/*responsive de los gifs*/
@media screen and (max-width: 1400px) {
    .wrapper {
      grid-template-columns: repeat(4, 1fr);
    }
    .container {
      margin: 0.7em;
    }
  }
  @media screen and (max-width: 1100px) {
    .wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
    .container {
      margin: 0.7em;
    }
  }
  @media screen and (max-width: 768px) {
    .wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
    .container {
      margin: 0.7em;
    }
  }
  @media screen and (max-width: 576px) {
    .wrapper {
      grid-template-columns: 1fr;
    }
  }
